th {
  cursor: pointer;
}

#myInput {
  /*background-image: url('/css/searchicon.png');*/
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

.job_ok {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
  text-align: center;
}
.job_overdue {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  text-align: center;
}
.job_failed, .job_error {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
  text-align: center;
}

.job_overdue_warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
  text-align: center;
}

.log_metadata TH, .log_metadata TD {
    padding: 2px;
}

.log_metadata TH {
    text-align: left;
}

.log_text, .log_metadata TD {
    white-space: pre;
    font-family: monospace;
}

.log_error {
    font-weight: bold;
    color: white;
    background-color: red;
}
